.main-box{
    width:100vw;
    display:flex;
    a{
        width:20vw;
        display:flex;
        i{
            width: 100vw;
            box-sizing: border-box;
            vertical-align:;
            justify-content: space-around;
            position: fixed;
            align-items: center;
            position: relative;
            position: absolute;
            border: 1px solid #333
            border
        }
    }
}
